# Elementos Básicos

Son solo repasos breves de lo llevado anteriormente, pero todo se encuentra en codigo python, solo es un repaso no lo debes de tomar como una explicacion completa, si se quiere completar el estudio de python, deberias leer documentos sobre python o la misma documentacion de python para ir incorporando la lectura como algo cotiadidano.

https://www.w3schools.com/python/python_operators.asp - ahi podras complementar los ejemplos que se describen aqui

# Números

Explicacion sencilla sobre los numeros en python

In [31]:
'''
Puedes ejebutar con el boton run en la parte superior
'''
3+5

8

In [1]:
'''
O puedes ejecutar con la combinacion de teclas "shift+enter"
'''
4+5

9

In [2]:
3+3

6

In [34]:
5-4

1

In [35]:
5*7

35

In [36]:
5/2

2.5

In [37]:
5%2

1

In [38]:
6%2

0

In [4]:
#Ejecutar antes seguir al siguiente cuadro
variable = 5

In [5]:
# Si sale algun error es porque no se ejecuto el cuadro anterior
variable * 2

10

In [42]:
variable1 = 3
variable2 = 4
resultado = variable1 + variable2

In [43]:
resultado #En Jupyter se puede mostrar variables de esta mera

7

In [44]:
print(resultado)# O de esta forma tambien funciona

7

# Como funcionan un poco las cadenas de caracteres en python

In [131]:
"""
shif + enter para que el modulo de ejecute(por modulo me refiero al recuadro donde se encuentra el codigo a ejecutar)
"""

'hola que tal'

'hola que tal'

In [2]:
"Esto es una cadena"

'Esto es una cadena'

In [3]:
"Esto seria 'otra' cadena"

"Esto seria 'otra' cadena"

In [4]:
cadena = "Buenos dias"

In [5]:
cadena

'Buenos dias'

In [6]:
print(cadena)

Buenos dias

In [6]:
nombre = "Antonio"
edad = 30
#Esta manera de concatenar es la mas usada
print("Mi nombre es {} y tengo {} anios".format(nombre,edad))#Concatenacion de cadenas con la funcion format

# o tambien de esta otra dorma que tambien es con format

print(f"Mi nombre es {nombre} y tengo {edad} anios")

#Cualquiera de las 2 funciona pero son las mas usadas

Mi nombre es Antonio y tengo 30 anios
Mi nombre es Antonio y tengo 30 anios

In [9]:
#Esta tambien es otra forma.
nombre = "Antonio"
edad = 30
print("Mi nombre es {variable1} y tengo {variable2} anios".format(variable1 = nombre,variable2 = edad))

Mi nombre es Antonio y tengo 30 anios

In [10]:
cadena = "futbol" # Recuerda que las cadenas son conjuntos de caracteres por lo tanto se pueden invocar a sus caracteres

In [11]:
cadena[0]# De esta forma se llama al promer caracter de la cadena

'f'

In [12]:
cadena[1]# 2do caracter

'u'

In [13]:
cadena[5]# 6to caracter

'l'

In [14]:
cadena[-1]# Ultimo caracter

'l'

In [15]:
cadena[1:4]# Muestra las posicones de la 1 hasta la 4 - 1.

'utb'

# Transformaciones

O conversiones de un tipo de variable a otra por ejemplo de tipo (int) a tipo (string), como tal hay que seguir algunas reglas de pyhton

In [46]:
'''
Primero hay que conocer el tipo de dato que pueda estar adquiriendo esa variable, mas por tener el conocimiento de que tipo
de dato es y cual queremos transformar


'''
# string
my_name = "Nicolas"
my_name = 'Santiago'
my_name = "12"
print('my_name =>', my_name)
print(type(my_name))

# int
my_age = 12
print('my_age =>', my_age)
print(type(my_age))

# boolean
is_single = False
print('is_single =>', is_single)
print(type(is_single))

# inputs- siempre adquieren de tipo String, no importa que ingreses numeros o valores boolean, siempre sera de tipo string
my_age = input('¿Cuál es tu edad? ')
print('my_age =>', my_age)
print(type(my_age))

my_name => 12
<class 'str'>
my_age => 12
<class 'int'>
is_single => False
<class 'bool'>
¿Cuál es tu edad? 12
my_age => 12
<class 'str'>

Por cierto con los ejemplos, ya te habras dado cuenta que no se inicializa las variables con un tipo de dato directo, sino que en python la variable adquiere el tipo de dato de su contenido, ya sea una lista, cadena, entero, float, long, boolean, objeto, y culquier tipo que pueda adquirir la variable.

Por eso mimso hay que tenerle el debido cuidado a lo que se esta haciendo en python, porque si tu agarras esa variable y la inicilizas de nuevo, lo sobre escribira sin adevertnecia precia, tomando otro tipo de dato y otro valor si ese fue el caso.

A continuacion como se realizan las tranforamciones de tipo de dato.

In [66]:
# Se podria decir que es una transformacion dinamica
name = "Nicolas"
print(type(name))
name = 12
print(type(name))
name = True
print(type(name))

# Esto es parte de la flexbilidad que nos brinda python, pero hay que tener mucho cuidado.

#Ten cuidado con el tipo de dato con el cual estas trabajo al ser 2 str, se concatenaran, pero si son 2 int se sumaran

print("Nicolas" + " Molina")
print(10 + 20)
# y si quitaras las comillas no lo tomaria como un str, sino como un int y te saldria error al querer concatenar un int
print("Nicolas" + "12")

age = 12
print("Mi edad es " + str(age))
print(f"Mi edad es {age}")

#Se transforma la entra ya que los input, simrpre son de tipo  string, asiq ue si quieres utilizar cualquier operador numerico
# debes de transformar el input a la variable numerica necesaria, en este casi int
age = input('Escribe tu edad => ')
print(type(age))
age = int(age)
age += 10
print(f'Tu edad en 10 años será {age}')

<class 'str'>
<class 'int'>
<class 'bool'>
Nicolas Molina
30
Nicolas12
Mi edad es 12
Mi edad es 12
Escribe tu edad => 12
<class 'str'>
Tu edad en 10 años será 22

# Listas

Las listas son connjuntos ordenados de elementos que pueden ser números, cadenas, y muchos mas.

In [16]:
[1,2,3,4] #Lista de numeros o de tipo int

[1, 2, 3, 4]

In [17]:
['a','b','c','adios']# lista de strig

['a', 'b', 'c', 'adios']

In [53]:
lista = ['a','b','c', 'd']
lista

['a', 'b', 'c', 'd']

In [54]:
lista.append('e')# Añadimos al final de lista la variable str e

In [55]:
print(lista)
lista.pop() #elimina la ultima variable de la lista
print(lista)

['a', 'b', 'c', 'd', 'e']
['a', 'b', 'c', 'd']

In [56]:
lista[0] # Mostrar el primer valor de la lista

'a'

In [57]:
lista[-1] #Con -1 se muestra el ultimo valor de la lista

'd'

In [61]:
lista[1:3] #Muestra desde la posicion 1 hasta la posicion 3 - 1, osea poscion 2

['b', 'c']

In [10]:
#Una lista puede tener otras listas dentro

listadoble = [1, 2, 3,['a', 'b', 'c']]

In [11]:
listadoble

[1, 2, 3, ['a', 'b', 'c']]

In [28]:
listadoble[0]# Muestra primera posicon de la lista

1

In [29]:
listadoble[1]# 2do posicion de la lista

2

In [13]:
listadoble[3]# Ultima posicon de la lista

['a', 'b', 'c']

In [14]:
listadoble[3][0]#Muestra la ultima posicion de la lista, y el primer dato de la lista dentro de esta lista

'a'

# Diccionario

Es un conjunto de elementos "clave:valor" no ordenados.

In [36]:
diccionario = {'clave1':'valor1', 'clave2':'valor2'}

In [37]:

#Muestra el valor de la clave1 que se encuentra dentro del diccionario

diccionario['clave1']

'valor1'

In [65]:
diccionario1 = {'nombre': 'Antonio', 'edad':30 }

In [40]:
diccionario1['nombre'] # Muestra el valor de la clave: nomnbre

'Antonio'

In [41]:
diccionario1['edad']# Muestra el valor de la clave: edad

30

# Boolean

Variables que pueden tomar 2 valorer: TRUE o FALSE, unicamente esos 2 valores.

In [42]:
5 == 5

True

In [45]:
5 == 6

False

In [46]:
resultado = (5 == 5)

In [47]:
resultado

True

In [48]:
a = 5
b = 6
resultado = (a == b)

In [49]:
resultado

False

# Tuplas

Coleccion de elementos inalterables.
Lo utlilizamos mayormente cuando no queremos que el usurio pueda modificar estos elementos.

In [15]:
tupla = (1, 2, 3, 4)

In [17]:
print(tupla)
print(type(tupla))

(1, 2, 3, 4)
<class 'tuple'>

In [52]:
'''
A las tuplas no se les puede añadir mas elementos, y tampoco se puede modificar
Ej:
'''
tupla[0] = 3

TypeError: 'tuple' object does not support item assignment

In [53]:
tupla[0]

1

In [54]:
tupla[-1]

4

# Conjuntos

Coleccion de elementos unicos, no se pueden repetir los elementos.

In [18]:
conjunto = {1, 2, 3, 4}

In [19]:
conjunto

{1, 2, 3, 4}

In [57]:
'''
Ejemplo de como eleminrara los elementos duplicados y solo quedaran elementos unicos
'''
conjunto2 = {1,2,2,4,3,3,1,2,4}

In [58]:
conjunto2

{1, 2, 3, 4}

In [60]:
'''
Ejemplo de creacion de un conjunto a partir de una lista y como eliminara los duplicados de dicha lista
'''
lista = [1,2,2,3,1,2,4,5,4,6,6,7,1]
conjunto = set(lista)
conjunto

{1, 2, 3, 4, 5, 6, 7}

# Operadores de comparacion

Los oepradores de comparacion devolveran valores boolean, que solo pueden ser TRUE o FALSE, con sus respectivas reglas de los 
operadores de comparacion

In [61]:
5 == 5

True

In [62]:
'''
Para operador de compracion de igualdad es doble igual '=='.
Ejemplod de operadores de comparcion igual '==', mayor que(>), mayor igual que(>=), menor que(<), menor igual que(<=) y

diferente de (!=)
'''
valor1 = 5
valor2 = 4
valor1 == valor2

False

In [63]:
3 > 2

True

In [64]:
2 < 3

True

In [65]:
3 >= 3

True

In [66]:
2 <= 4

True

In [67]:
valor1 = 5
valor2 = 4
valor1 != valor2

True

In [71]:
'''
Ejemplos operador and, este solo es verdadero si ambas o todas son verdaderas
'''
(5 < 7) and (8 > 5)

True

In [69]:
'''
Ejemplo de operador or, este solo es veradero cunado almenos uno de ellos es verdadero
'''
(5 < 7) or (8 < 5)

True

In [72]:
(5 < 7) and (8 > 5) and (3 < 4)

True

In [73]:
(5 < 7) and ( (8 > 5) or (3 > 4) )

True

# Condicionales if/elif/else

In [75]:
a = 5
b = 6
if (a == b):
    print("a es igual a b")
else:
    print("a no es igual a b")

a no es igual a b

In [77]:
a = 7
b = 5
if (a == b):
    print("a es igual a b")
elif ( a > b ):
    print("a es mayor que b")
elif ( a < b ):
    print("a es menor que b")
else:
    print("a no es igual a b")

a es mayor que b

# Bucle FOR

Itera un secuencia de elementos.

In [80]:
'''
Por cada elemento dentro de la lista imprimira cada uno de los elementos
y los multiplicara por 5 cada uno de los elementos.
'''
lista = [1,2,3,4,5,6]
for elemento in lista:
    valor = elemento * 5
    print(valor)

5
10
15
20
25
30

# Bulce While

Sirve para el comando, funcion o algoritmo que este dentro del bucle while se ejecute un numero determinado de veces o hasta que 
su condicion termine.

In [81]:
numero = 1
while numero < 5:
    print(numero)
    numero = numero + 1

1
2
3
4

In [8]:
'''
prueba cambiando del numero de veces hasta que el estado sea falso o cambiando la condicional de while
'''
numero = 1
estado = True
while estado == True:
    print(numero)
    numero = numero + 1
    if (numero >= 5):
        estado = False

1
2
3
4

# Funcion range()

Generador de numeros
que genera un rango de numeros de un incio 0 y un numero fin -1

In [82]:
range(0,5)

range(0, 5)

In [83]:
list(range(0,5))#Con la funcion list, crea una lista desde el 0 hasta 5 - 1

[0, 1, 2, 3, 4]

In [84]:
list(range(0,7))# crear una lista desde 0 hasta 7 - 1

[0, 1, 2, 3, 4, 5, 6]

In [9]:
'''
En un bucle for, repite la accion hasta el limite del rango - 1, en este caso 5 veces
'''
for x in range(0,6):
    print(x)

0
1
2
3
4
5

# Compresion de Lista

Como crear una lista a partir de otra

In [86]:
#Por cada numero de la lista1 se añade dentro de la lista2
lista1 = [1,2,3,4,5]
lista2 = []
for numero in lista1:
    valor = numero *2
    lista2.append(valor)

In [87]:
lista2

[2, 4, 6, 8, 10]

In [91]:
#Lo mismo a lo anterior pero de manera mas simplidicada
lista1 = [1,2,3,4,5]
lista3 = [numero * 3 for numero in lista1]

In [92]:
lista3

[3, 6, 9, 12, 15]

# Funciones

Creacion de funciones en Python.
Para este putno quiero aclarar muy bien 3 cosas:
- 1 La sangria, por favor tener mucho cuidado con la snagria, python requiere mucho de nuestro orden propio
    si no lo organizamos bien, sladran muchos errores de syntaxis, todo debe de estar ordenado y bien cuidado.
- 2 Tener mucho cuidado con la flexbilidad de python, entender correctamente que esta sucediendo dentro de la
    funcion, variable, snagrias, cambios de datos, que tipos de dato pide.
- 3 Ser bastante claro de que se esta pidieno para la funcion, nada x, a, b, abd, cin, som, asdasfadg. Si uno 
    se pierde, es por eso, por no ser claro en como se esta estrucurando el codigo, y leer bien en caso de que sea el codigo de otra persona.
Ordenados, antento y comprendiendo bien las nociones basicas de python. Todo sera bastante mas sencillo y facil de enternder a la larga

In [12]:
'''
Recuerda inicicar la funcion con "shift + enter" antes de utilizarla, o al invocarla saldra un error.
Tambien que todas las funciones siguen una sangria, todo lo que este a un tab a la derecha o estta
como parte de la funcion
'''
def funcion():
    print("hola, Buenos dias")# Por ejemplo, asiq es como debe de estar.

In [13]:
funcion()

hola, Buenos dias

In [98]:
def saludar(nombre):
    print("Hola, buenos dias " + nombre)

In [99]:
saludar("Antonio")

Hola, buenos dias Antonio

In [14]:
def sumar(numero1, numero2):
    """
    Esto es un comentario de la funcion sumar
    Esta funcion suma los dos numeros pasados como parametros
    Ejemplo: sumar(2,3)
    """
    resultado = numero1 + numero2
    return resultado

In [103]:
sumar(2,3)

5

In [21]:
'''
Si en caso agregaras una funcion for/ while o if entonces tambien deben de resperatrse
sus debidas sangrias
'''
def menorNumero(numero1, numero2):
    if numero1 > numero2: #Respetadno siempre las sangrias
        print(f"{numero2} es menor")
    else:
        print(f"{numero1} es menor")

menorNumero(5,7)

5 es menor

In [15]:
"""
Con las combinacioiones de teclas shift + tab te saldra el comentario que pusiste en tu funcion
o en caso de funciones predefinidas de python, te saldra una breve descripcion de que hace cada funcion

Recuerda inicializar las funciones que crees sino no saldra el comentario.
"""

sumar
'''
shit + tab
'''
print

# Funcion map()

Sirve para mapear una funcion sbore todos los elemontos de un objeto.

In [22]:
def multiplicar(numero):
    return numero * 2

In [106]:
multiplicar(5)

10

In [23]:
#Por ejemplo sobre una lista
lista = [1,2,3,4,5]
lista2 = list( map(multiplicar,lista) )#Va multiplicar todos los elemntos de lista por 2

In [24]:
lista2

[2, 4, 6, 8, 10]

# Funcion Lambda

Funcion anonima (sin nombre), sirve para simplificar codigo, pude tener cualquier numero de argumentos pero solo una expresion

In [109]:
def multiplicar(numero):
    return numero * 2

In [110]:
multiplicar(6)

12

In [112]:
lista = [1,2,3,4,5]
lista2 = list( map(multiplicar,lista))
lista2

[2, 4, 6, 8, 10]

In [113]:
#En lugar de usar la funcion multiplicar, utlilizamos la funcion lamba para simplificar un poco el codigo
lista = [1,2,3,4,5]
lista2 = list( map(lambda numero: numero*2,lista) )
lista2

[2, 4, 6, 8, 10]

#  Filtros (Funcion Filter())

Sirve para filtrar o seleccionar los elemtos de un objeto.

In [114]:
def pares(numero):
    if(numero % 2 == 0):
        return numero

In [115]:
pares(5)

In [116]:
pares(4)

4

In [119]:
'''
En este caso se esta filtrando los numeros pares de una lista
'''
lista1 = [1,2,3,4,5,6,7]
lista_pares = list(filter(pares,lista1))
lista_pares

[2, 4, 6]

In [16]:
'''
Lo mismo que lo anterior pero con la funcion lambda
'''
lista1 = [1,2,3,4,5,6,7]
lista_pares_lambda = list(filter(lambda numero: numero%2 == 0,lista1))
lista_pares_lambda

[2, 4, 6]

# Cadena de Caracteres

## Funciones de cadenas de caracteres

In [19]:
cadena = "Hola, buenos dias, me llamo Antonio"

In [122]:
cadena

'Hola, buenos dias, me llamo Antonio'

In [123]:
cadena.upper()

'HOLA, BUENOS DIAS, ME LLAMO ANTONIO'

In [124]:
cadena

'Hola, buenos dias, me llamo Antonio'

In [125]:

cadena_mayusculas = cadena.upper()#convierte todos los caracteres de la cadena en mayusculas

In [126]:
cadena_mayusculas

'HOLA, BUENOS DIAS, ME LLAMO ANTONIO'

Al escrbir "cadena." y presioanr la tecla tab, aparecera un recuadro con lista de las funciones que se le puede aplicar a la cadena

In [22]:

cadena.lower()#convierte todos los caracteres de la cadena en minusculas

'hola, buenos dias, me llamo antonio'

In [23]:
'''
Separa la cadena en una lista de cadenas depedniendo al valor que se le de, por ejemplo:
cadena.split() los dividira por espacios vacios
cadena.split(",") dividara la cadena por comas
'''
cadena.split()

['Hola,', 'buenos', 'dias,', 'me', 'llamo', 'Antonio']

In [24]:

cadena.split(",")

['Hola', ' buenos dias', ' me llamo Antonio']

In [25]:
'''
Para accerdes a cada uno de los elementos de la lista
'''
cadena.split(",")[0]

'Hola'

In [28]:
'''
Ultimo elemento de la cadena
'''
cadena.split(",")[-1]

' me llamo Antonio'